//Importar parcial
@import './base/reset';
@import './base/vars';
@import './base/mixin';

// Import Componentes
@import './components/card';
@import './components/btn';

@import './components/header';
@import './components/nav';
@import './components/section';
@import './components/footer';

//Importar layout
@import './layout/index';
@import './layout/catalogo';
@import './layout/nosotros';
@import './layout/contacto';

/*incluir fuente desde google font */

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');



@font-face {
    font-family: ptmono;
    src: url(../assets/font/PTMono-Regular.ttf);
}

@font-face{
    font-family: basicdots;
    src: url(../assets/font/Basicdots.ttf);
}


h1{
    font-family: basicdots;
    color: $font-main-color;
    font-weight: bold; 
    padding: 10px;
    margin: 10px;
}











