.card{
    
    font-family: ptmono;
    justify-content: space-evenly;

    
        @include tamanio (auto,auto);


        & img{
            height: 350px;
        }
        
        &-text{
            color: #000;
        }

}


