
/* * = selector universal para reseteo de estilos por default del html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');



@font-face {
    font-family: ptmono;
    src: url(../assets/font/PTMono-Regular.ttf);
}

@font-face{
    font-family: basicdots;
    src: url(../assets/font/Basicdots.ttf);
}


h1{
    font-family: basicdots;
    color: $font-main-color;
    font-weight: bold; 
    padding: 10px;
    margin: 10px;
}